cal_url = ''
mail_from = ''
mail_to = ''
mail_subject = ''
smtp_user = ''
smtp_pass = ''
smtp_server = ''

text_template = "{:s}"
html_template = """\
<html>
  <head>
    <style>
      table {{
        margin-bottom: 1.5rem;
      }}
      th {{
        padding-right: 1rem;
        text-align: left;
        vertical-align: top;
      }}
      td pre {{
        font-family: initial;
        white-space: pre-wrap;
        word-wrap: break-word;
      }}
    </style>
  </head>
  <body>
    {:s}
  </body>
</html>
"""

event_text_template = """\
Event:     \t\t{0:s}
Start:     \t\t{1:%I:%M %p}
End:       \t\t{2:%I:%M %p}
Location:  \t{3:s}
Description:
{4:s}

"""
all_day_text_template = """\
Event:     \t\t{0:s}
All-day
Location:  \t{1:s}
Description:
{2:s}

"""

event_html_template = """\
<table>
  <tr>
    <th>Event</th><td>{:s}</td>
  </tr>
  <tr>
    <th>Start</th><td>{:%I:%M %p}</td>
  </tr>
  <tr>
    <th>End</th><td>{:%I:%M %p}</td>
  </tr>
  <tr>
    <th>Location</th><td>{:s}</td>
  </tr>
  <tr>
    <th>Description</th><td><pre>{:s}</pre></td>
  </tr>
</table>
"""
all_day_html_template = """\
<table>
  <tr>
    <th>Event</th><td>{:s}</th>
  </tr>
  <tr>
    <th colspan="2">All day</th>
  </tr>
  <tr>
    <th>Location</td><td>{:s}</th>
  </tr>
  <tr>
    <th>Description</td><td>{:s}</th>
  </tr>
</table>
"""
