DateTime==5.5
httplib2==0.22.0
icalendar==6.0.1
pyparsing==3.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
recurring-ical-events==3.3.2
setuptools==75.2.0
six==1.16.0
tzdata==2024.2
x-wr-timezone==1.0.1
zope.interface==7.1.0
