autocommand==2.2.2
backports.tarfile==1.2.0
DateTime==5.5
httplib2==0.22.0
icalendar==6.0.1
importlib_metadata==8.5.0
importlib_resources==6.4.5
inflect==7.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
Jinja2==3.1.5
MarkupSafe==3.0.2
more-itertools==10.5.0
platformdirs==4.3.6
pyparsing==3.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
recurring-ical-events==3.3.3
six==1.16.0
tomli==2.0.2
typeguard==4.3.0
typing_extensions==4.12.2
tzdata==2024.2
x-wr-timezone==1.0.1
zipp==3.20.2
zope.interface==7.1.0
