{% for name, events in calendars.items() %}
{{name}}:

{% for event in events %}
Event:      {{event.summary}}
{% if event.all_day %}
All-day
{% else %}
Start:      {{event.start.strftime('%I:%M %p')}}
End:        {{event.end.strftime('%I:%M %p')}}
{% endif %}
Location:   {{event.location}}
Description:
{{event.description}}

{% else %}
No Events

{% endfor %}
{% endfor %}